*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F0EB;
    font-family: serif;
    position: relative;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 0 0 10px #BFBDB8;
    margin-top: 10px;
    /* position: relative; */
}

.profile {
    background-color: #F2F0EB;
    box-shadow: 0 0 10px #BFBDB8;
    width: 600px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.photo {
    border-radius: 50%;
    box-shadow: 0 0 10px #a5a4a0;
    margin-bottom: 30px;
    height: 128px;
    width: 128px;

}

h1 {
    margin-bottom: 20px;
}

.info {
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
    padding-left: 30px;
}

h3 {
    background-color: #F2F0EB;
    padding: 3px;
    margin-bottom: 30px;
    text-align: center;
}

#map {
    height: 250px;
    width: 500px !important;
    margin-top: 20px;
    border: 2px solid #BFBDB8;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(209, 34, 34);
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.stats {
    text-align: center;
    margin-bottom: 10px;
}

.all,
.female,
.male {
    margin-right: 10px;
    font-size: 18px;
}